body {

}

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat/Montserrat-Regular.ttf");
}

.header {
    width: 100%;
    text-align: center;
}
.logo {
    width: 297px;
    height: 69.7px;
    object-fit: contain;
    margin: 46px;
}
.insta {
    float: right;
}
.nav {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
}
.nav-button {
    flex: 1;
    text-align: center;
    width: 104px;
    height: 24px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 5.4px;
    color: #000000;
}
.nav-button div {
    width: fit-content;
    display: inline-block;
    font-size: 20px;
    transform: scale(1) translateZ(0);
    -webkit-transition: transform 0.3s, font-weight 0.3s;
    -moz-transition: transform 0.3s, font-weight 0.3s;
    -ms-transition: transform 0.3s, font-weight 0.3s;
    -o-transition: transform 0.3s, font-weight 0.3s;
    transition: transform 0.3s, font-weight 0.3s;
}
.nav-button:not(.nav-active) div:hover{
    font-weight: bold;
    transform: scale(1.05) translateZ(0);
    transition: transform 0.3s ease-out;
}
.nav-active {
    transform: scale(1.05) translateZ(0);
    font-weight: bold;
}


.content {
    margin: 3vw;
    display: grid;
    grid-gap: 4vw;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}
.photo {
    width: 40vw;
}
.photo-a {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
.photo-b {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}
.photo-d {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
}
.photo-c {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}
.photo-e {
    grid-column: 1 / span 1;
    grid-row: 4 / span 2;
}
.photo-f {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
}
.photo-g {
    grid-column: 2 / span 1;
    grid-row: 5 / span 2;
}
.photo-h {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
}


@media screen and (min-width: 720px) {
    .content {
        margin: 3vw;
        display: grid;
        grid-gap: 4vw;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
    }
    .photo {
        width: 26.6vw;
    }
    .photo-a {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    .photo-b {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }
    .photo-c {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }
    .photo-d {
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
    }
    .photo-f {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }
    .photo-e {
        grid-column: 3 / span 1;
        grid-row: 2 / span 2;
    }
    .photo-g {
        display: none;
    }
    .photo-h {
        display: none;
    }
}
@media screen and (min-width: 1280px) {
    .content {
        margin: 3vw;
        display: grid;
        grid-gap: 4vw;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto;
    }
    .photo {
        width: 20vw;
    }
    .photo-a {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    .photo-b {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }
    .photo-c {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }
    .photo-d {
        grid-column: 4 / span 1;
        grid-row: 1 / span 2;
    }
    .photo-e {
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
    }
    .photo-f {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }
    .photo-g {
        display: block;
        grid-column: 3 / span 1;
        grid-row: 2 / span 2;
    }
    .photo-h {
        display: block;
        grid-column: 4 / span 1;
        grid-row: 3 / span 1;
    }
}
.footer {
    width: 100%;
    /*position: fixed;*/
    bottom: 0;
    padding: 20px;
    background: white;

    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 3.78px;
    text-align: center;
    color: #000000;
}

a {
    color: black;
    text-decoration: none;
}

.about-container {
    margin: 0 15vw;
}

.about {
    padding: 4vw 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.about-text {
    padding: 2vw 2vw;
    max-width: 35vw;
    min-width: 400px;
}

.about-photo {
    padding: 2vw 2vw;
}
.about-photo img {
    width: 100%;
    max-width: 400px;
}


.contact {
    margin: 4vw 10vw;
    padding: 4vw 0;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
}

.contact-block {
    height: 24px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 5.4px;
    text-align: center;
    margin: 4vw 0;
}
