{% extends "_base.html" %}

{% block content %}

    <div class="content">
        {% for photo in photos %}
            <div class="photo-container {{ photo.class }}"><img class="photo" src="../projects/{{ photo.url }}"></div>
        {% endfor %}
    </div>
    <div class="content">
        {% for photo in photos2 %}
            <div class="photo-container {{ photo.class }}"><img class="photo" src="../projects/{{ photo.url }}"></div>
        {% endfor %}
    </div>
    <div class="footer">
        @JOANNA PIOTROWSKA | JPGRAFIKA
    </div>

{% endblock %}
